.d-block{
	display: inline-block;
}
.header{
	position: fixed;
	margin-top: 20px;
	width: 100%
}
.navigation{
	margin: 20px 0 0 103px;
	font-size: 24px;
}
body{
	height: 1800px;
}
.navigation-li{
	margin-left: 35px;
}
.html-logo{
	width: 200px;
	float: left;
	margin-left: 100px;
}
.icons{
	float: right;
}
.social-icon{
	float: right;	
}
.divider{
	float: right;
	width: 2px;
	height: 30px;
	background-color: blue;
	margin: 0 20px;
}
.grey{
	width: 1366px;
	height:520px;
	background: #E6E6E6;
	margin-top: 20px;
}
.computer{
	width: 1170px;
	height: 360px;
}























